@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,#root {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom , rgba(12, 2, 63, 0.88), rgba(138, 30, 189, 0.57));
    background-size: cover;
    height: 100vh;
}

.logo {
    width: 258px;
    height: 150px;
    margin: 0 auto;
    flex-basis: 150px;
} 

p {
    padding: 6px 27px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #fff;
}

p:hover {
    cursor: pointer;
}

.gamefield p {
    text-shadow: 5px 5px 0 #000;
    transition: 500ms;
}

.gamefield p:hover {
    transform: translateY(5px);
    transition: 500ms;
}

.menu_start {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 200px;
}

.wrapper {
    width: 1000px;
    height: 420px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

button {
    position: relative;
    border-radius: 25px;
    height: 30px;
    font-size: 21px;
    font-family: 'Lobster', cursive;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
}

button:hover {
    background-color: rgb(243, 86, 117);
    transition: 500ms;
}

.timer {
    color: rgb(52, 52, 68);
    font-family: 'Lobster', cursive;
    font-size: 24px;
    width: 100px;
    height: 50px;
    background-color: rgb(52, 252, 185);
    text-align: center;
    line-height: 50px;
    margin: 10px;
}

@media screen and (max-width: 540px) {

    .timer {
        margin: 20px auto;
        margin-bottom: 80px;
        height: 30px;
        line-height: 15px;
    }

}





.navi {
    overflow: hidden;
    position: relative;
    height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    
    background-color: #face00;
    transform: translateY(-90%);
    transition: 1s transform;

}

.container:hover ,
.container:focus-within {
    transform: translateY(0%);
} 

a {
    white-space: pre;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.naviDescription {
    padding: 0 0 0 0;
    font-size: 18px;
    background-color: #face00;
    border-bottom: 1px solid #000;
    cursor: none;
    margin-top: 10px;
    color: #000;
}
